.color_satu {
    color: color(satu);
}

.color_dua {
    color: color(dua);
}

.color_tiga {
    color: color(tiga);
}

.color_empat {
    color: color(empat);
}

.color_satu_dark {
    color: color(satu_dark);
}